{
  "name": "<%= name %>-backend-service",
  "$schema": "../../../../node_modules/nx/schemas/project-schema.json",
  "sourceRoot": "libs/backend/services/<%= fileName %>/src",
  "projectType": "library",
  "tags": [],
  "// targets": "to see all targets run: nx show project <%= name %>-backend-service --web",
  "targets": {}
}
