{
  "name": "<%= fileName %>-backend",
  "$schema": "../../../node_modules/nx/schemas/project-schema.json",
  "sourceRoot": "libs/backend/<%= fileName %>-backend/src",
  "projectType": "library",
  "tags": [],
  "// targets": "to see all targets run: nx show project <%= fileName %>-backend --web",
  "targets": {}
}
